[Unit]
Description=Zerotier Slave DNS server
After=multi-user.target

[Service]
Type=simple
PIDFile=/var/run/zt.pid
EnvironmentFile=/etc/zt_nss/zt
ExecStart=/usr/bin/ztr.py $OPT

[Install]
WantedBy=multi-user.target
